body {
    background-color: rgb(244, 247, 246);
    text-align: center;
    height:760px;
}

nav {
    background-color: rgba(12, 12, 12, 0.986);
    word-spacing: 2em;
    margin:0;
    text-align: center;
    text-decoration: none;
    color:red;
    height: 20px;
}
header {
    background-color: darkred;
    color:black;
    letter-spacing: 0.1rem;
    word-spacing: 1rem;
    height:70px;
    padding: 0.4em;

}
.maindiv {
    width: 70%;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url('14.jpeg');
    transform:translate(-50%, -50%);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10%;
    animation:slider 9s infinite linear;

}
@keyframes slider{
    0%{background-image: url('14.jpeg'); }
    35%{background-image: url('12.jpeg') }
    75%{background-image: url('9.jpeg'); }
}
footer{
    position: relative;
    margin:420px;
    text-align: center;
    
}